    @define-color fg-color @theme_fg_color;
    @define-color bg-color @theme_bg_color;
    @define-color primary-color #8ba4b0;
    @define-color secondary-color #252535;
    @define-color secondary-fg-color #0d0d0c;

button {
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}

.workspaces .separators {
    font-size: 16px;
}

.bar-box {
    font-family: "Hurmit Nerd Font";
    font-size: 14px;
    background-color: @bg-color;
    border-radius: 20px;
}

.workspaces {
    border-radius: 200px;
    background-color: @secondary-color;
}

.workspaces button {
    background-color: transparent;
    color: @primary-color;
}

.workspaces .label {
    padding: 0px 8px;
}

.workspaces .active .label {
    background-color: @primary-color;
    color: @secondary-fg-color;
}
