window {
    font-family: "Hurmit Nerd Font";
    font-size: 14px;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

button {
    background-color: transparent;
    padding: 0;
}

button:active {
    background-color: @theme_selected_bg_color;
}

.workspaces .hasClients {
    background-color: red;
}

.workspaces .active {
    background-color: @theme_selected_bg_color;
}
