[default]
depends = ["gtk", "hyprland", "awesome", "bin", "fish", "nvim"]


[graphics.variables]
background = "~/Pictures/backgrounds/blue-black-hole_3840x2160.png"

[graphics.variables.display]
width = "1920"
height = "1080"
refresh_rate = "60"

[graphics.variables.font]
monospace = "Hurmit Nerd Font"
size = "10.5"

[graphics.variables.cursor]
name = "Simp1e-Gruvbox-Light"
size = "24"


[backgrounds.files]
backgrounds = {target = "~/Pictures/backgrounds", type = "symbolic", recurse = false}


[gtk.files]
"gtk/themes" = {target = "~/.themes", type = "symbolic", recurse = false}
"gtk/icons" = {target = "~/.icons", type = "symbolic", recurse = false}


[hyprland]
depends = ["graphics", "rofi", "kitty", "emacs", "backgrounds"]

[hyprland.files]
"hypr/hyprland.conf" = "~/.config/hypr/hyprland.conf"
"hypr/hyprpaper.conf" = "~/.config/hypr/hyprpaper.conf"

"ags/app.ts" = "~/.config/ags/app.ts"
"ags/style.css" = "~/.config/ags/style.css"
"ags/modules" = {target = "~/.config/ags/modules", type = "symbolic", recurse = false}
"ags/Makefile" = "~/.config/ags/Makefile"

[hyprland.variables]
monitor_name = "DP-1"
monitor_scale = "1"
sensitivity = "0"


[awesome]
depends = ["graphics", "rofi", "kitty", "emacs", "backgrounds"]

[awesome.files]
awesome = {target = "~/.config/awesome", type = "symbolic", recurse = false}


[rofi]
depends = ["graphics"]

[rofi.files]
rofi = "~/.config/rofi"


[kitty]
depends = ["graphics"]

[kitty.files]
kitty = "~/.config/kitty"


[bin.files]
bin = {target = "~/bin", type = "symbolic", recurse = false}


[fish]
depends = ["nvim"]

[fish.files]
"fish/config.fish" = "~/.config/fish/config.fish"


[nvim.files]
nvim = {target = "~/.config/nvim", type = "symbolic", recurse = false}


[emacs.files]
"emacs/config.org" = "~/.config/emacs/config.org"
"emacs/init.el" = "~/.config/emacs/init.el"
"emacs/early-init.el" = "~/.config/emacs/early-init.el"
"emacs/snippets" = {target = "~/.config/emacs/snippets", type = "symbolic", recurse = false}

[gaming.files]
mangohud = "~/.config/MangoHud/MangoHud.conf"
